body{
    background: url(../img/img2.jpg) no-repeat center center/ cover;
    height: 100vh;
    position: relative;
}
#open-btn {
    position: absolute;
    top: 70%;
    left: 10%;
    width: 350px;
    height: 80px;
    font-size: 2rem;
    background: transparent;
    color: #fff;
    border: solid 2px #fff;
    border-radius: 10px;
    padding: 5px ;
    padding-bottom: 100px;
    
    box-shadow: 0 0 3px black;
    transition: -5s;
}
#open-btn :hover{
    background-color: #fff;
    color: #000;
}
#model{
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}