*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato',sans-serif;
}
body {
    height: 100vh;
    background: url(../img/img5.jpg) no-repeat center center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#add-task-containe{
    width: 350px;
    padding: 20px 10px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 3px;
    display: flex;
}
input {
    flex: 5;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 5px;
}
#add-task {
    flex: 1;
    transition: .3s;
    font-size: 1.2rem;
    padding: 5px;
    background-color: #fff;
    color: green;
    border: green solid 2px;
    border-radius: 10px;
}